# Ignore virtual environments
env/

# Ignore environment-specific configuration files
.python-version

# Ignore bisection-related files
bisection-*

# Ignore any other generated or temporary files
*.log
*.pyc
